RewriteEngine On

RewriteCond $0 !^(index\.php|asset|static|images|main_upload|dhtmlx|dhtmlxGantt|dhtmlxScheduler|captcha|css|js|robots\.txt)
RewriteRule ^.*$ index.php [L]
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>